  body {font-family: sans-serif;}
  main {text-align: center;}
  fieldset {text-align: left;}
  .visually-hidden {clip-path: inset(100%);clip: rect(1px, 1px, 1px, 1px);height: 1px;overflow: hidden;position: absolute;white-space: nowrap;width: 1px;}
  .grid {background: #ffe6cc;padding: 2em;display: grid;grid-gap: 1rem;}
  @supports (width: min(250px, 100%)) {.grid {grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));}}
  .grid > div {text-align: center;font-weight: bold;}
  .grid button+div,.grid .button+div {margin: 0.5em 0;}
  button,.button {background: #663300;color: white;border: 4px solid #331a00;padding: 1em;border-radius: 0.5em;font-size: 2em;font-weight: bold;}
  button:focus-visible,.button:focus-visible {outline: 4px solid #331a00;outline-offset: 5px;}
  button:active,.button:active {background: white;color: #331a00;transform: scale(1.4);}
  button span[aria-hidden],.button span[aria-hidden] {display: inline-block;}
  button:active span[aria-hidden],.button:active span[aria-hidden] {transform: scale(1.5);}
  button+div {padding-top: 10px;height: 2em;}
  button:active+div {display: none;}
